body {
    font-size: 20px;
}

.centra {
    text-align: center;
}

.container {
    padding: 5rem 0;
}

nav .container {
    padding: 0.5rem 0;
}

.navbar {
    margin-bottom: 0;
    background-color: #21273d;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: white;
}

nav li {
    font-size: 14px;
}

#jumbo {
    background-color: #26b58d;
    color: white;
}

#portfolio .row:last-of-type div {
    padding: 2rem 4rem;
}

#portfolio .row:last-of-type div:first-of-type {

}

#about {
    background-color: #26b58d;
    color: white;
}
#about button, #contact button {
    color: white;
    background-color: #26b58d;
    border: 1px solid white;
}

input, textarea {
    border: 0;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 6rem;
}

footer {
    background-color: #4a5787;
    min-height: 20vh;
    color: white;
}
footer a {
    color: #26b58d;
}

#copyright {
    background-color: #21273d;
    color: white;
}
#copyright p {
    padding: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (min-width: 992px) {
    .extra-padding-left {
        padding-left: 6rem;
    }
    .extra-padding-right {
        padding-right: 6rem;
    }
}
